@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
html{ font-family: 'roboto', sans-serif;    
}
header{
    text-align: center;
}
h1{
    color: red;
}
main{

}
header p{
    line-height: 25px;
}
.phot{
    float: left;
    background-color: black;
    width: calc(100%/4 );
    margin-inline: 20px;
}
img{
    display: block;
    float: left;
}
span{
    color: white;
    font-size: 12px;
}
