*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 1px solid blue;
    height: 800px;
padding: 30px;
}
header{
    font-family:"Roboto";
    padding-left: 300px;
}
table{
    border: 1px solid red;
    width: 1015px;
    height: 300px;
}

td{
    border: 1px solid blueviolet;
height: 90px;
background-color: black;
width: 300px;
}
img{
}
.nom{
    color: white;
    float: right;
}
.pof{
    color: white;
    float: right;
}
.email{
    color: aqua;
    float: left;
}
