*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}
div{
    float: left;
    padding: 10px;
    height: 100px;
    width: 300px;
}
.div1{
    background-color: black;
    margin: 15px;
}
.nom{
    color: white;
    
}
.email {
    color: skyblue;
}
.div2{
    background-color: black;
    margin: 15px;
}
.div3{
    background-color: black;
    margin: 15px;
}